.elements__like{
    padding: 0;
    margin: auto 0 auto auto;
    cursor: pointer;
    border: 0;
}

.elements__like:hover{
    opacity: 0.5;
}

.elements__like-image{    
    width: 21px;
    height: 19px;
}