@import url(../vendor/normalize.css);
@import url(../blocks/body.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__line/header__line.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info-detail/profile__info-detail.css);
@import url(../blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__about-me/profile__about-me.css);
@import url(../blocks/profile/__add-btn/profile__add-btn.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__card/elements__card.css);
@import url(../blocks/elements/__image/elements__image.css);
@import url(../blocks/elements/__item/elements__item.css);
@import url(../blocks/elements/__place-name/elements__place-name.css);
@import url(../blocks/elements/__like/elements__like.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);

.popup{
    display: none;
}

.popup__opened{
    display: block;
}

.popup__overlay{
    background-color: #000000;
    display: block;
    position: fixed;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.popup__container{
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 430px;
    height: 330px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.popup__close-btn{
    width: 40px;
    height: 40px;
    position:absolute;
    left: 430px;
    top: -40px;
}

.popup__close-btn:hover{
    cursor: pointer;
    opacity: 0.6;
}

.popup__info{
    margin: 34px auto 0 auto;
    width: 358px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.popup__input-form{
    margin: 54px auto 0 auto;
    width: 358px;
}

.popup__input{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 358px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.popup__input-name{
    margin-top: 0;
}

.popup__input-about{
    margin-top: 30px;
}

.popup__submit{
    cursor: pointer;
    width: 358px;
    height: 50px;
    border-radius: 2px;
    margin: 48px auto 0 auto;
    background-color: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.popup__submit:hover{
    opacity: 0.8;
}